.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


h2 {
  margin: 0px 0px 0px 10px;
  text-align: left;
  font-weight: normal; 
}

span {
  margin: 0px 0px 0px 10px;
  font-size: small;
}

.Amount {
  font-weight: bold;
  font-size: x-large;
  padding: 15px;
}

.Description {
  padding: 5px;
}

.Content {
  display: flex;
}

.ExpenseForm .Content {
  justify-content: center;
}

li {
  padding: 5px;
}

ul {
  padding: 0;
  list-style-type: none;
  width: 70%;
  margin: auto;
}

input {
  display: block;
  margin: 5px auto;
}

div {
  font-size: small;
}


