.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


h2 {
  text-align: left;
  font-weight: normal; 
}

span {
  font-size: small;
}

.amount {
  font-weight: bold;
  font-size: large;
}

.amount, .description {
  display: inline-block;
  padding: 15px;
}

.expense {
  width: 200px;
}


ul {
  list-style-type: none;
  width: 70%;
  margin: auto;
}
